
<div class="row">
    <!-- Carrossel separado -->
    <div class="carousel-item active">
        <img src="~/images/faleConosco.jpeg" class="d-block w-100" alt="...">
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h2 style="text-align:center">Queremos ouvir o que você tem a dizer</h2>
        <h5 style ="text-align:center">
            Se você tiver alguma dúvida ou sugestão fale conosco
        </h5>
        <p>
            <div class="column" style="display:flex; flex-direction:row; align-items:center; ">
                <span>
                    <img src="~/images/iconEmail.jpg" style="height: 50px; margin-right:15px;" />
                </span>
                <h5><a href="mailto:itech@hotmail.com" style="color: cornflowerblue">itech@hotmail.com</a></h5>
            </div>
            <br />
            <br />

            <div class="column" style="display:flex; flex-direction:row; align-items:center;">
                <span>
                    <img src="~/images/iconTelefone.jpg" style="height: 40px; margin-right:15px;" />
                </span>
                <h5>(33) 9 8895-5996</h5>
            </div>
            <br />
            <br />

            <div class="column" style="display:flex; flex-direction:row; align-items:center;">
                <span>
                    <img src="~/images/iconHome.jpg" style="height: 50px; margin-right:15px;" />
                </span>
                <h5>Av. 30 de Fevereiro, -22, Bairro Caverna do Dragão, Pais das Maravilhas - MG</h5>
            </div>


            

            
            
        </p>
    </div>
</div>


