<footer>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3" style="margin-top: 30vh;">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white;">
                    <h4>&copy; 2025 - I'Tech</h4>
                    <p class="text-justify">
                       É aqui que você encontra soluções para aquele seu PC que tá dando pau!!
                    </p>
                </div>
                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                    <h4>Tem alguma dúvida?</h4>
                    <ul class="list-unstyled">
                        <li class="py-1">🏠  Av. 30 de Fevereiro, -22, Bairro Caverna do Dragão, Pais das Maravilhas - MG</li>
                        <li class="py-1">📞  +55 999 9123 502</li>
                        <li class="py-1">📧 <a href="mailto:itech@hotmail.com" style="color: cornflowerblue">itech@hotmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</footer>