@using ITech.ViewModels
@model HomeViewModel

<div class="row">
    <!-- Carrossel separado -->
    <div class="carousel-item active">
        <img src="~/images/carrossel.png" class="d-block w-100" alt="...">
    </div>
</div>
<br />
<h2 style="text-align:center;">Os preferidos da semana</h2>
<hr />

<div class="row mt-4">
    <!-- Serviços preferidos -->
    @foreach (var servico in Model.ServicosPreferidos)
    {
        <partial name="_ServicosResumo" for="@servico" />
    }
</div>

